<% include ../partials/header.ejs %>

<form action="/admin/add" method="POST" encType="multipart/form-data" class="container mb-5" style="margin-top: 150px;">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center default-text py-3">Add Portfolio Project</h3>
            <!--Body-->
            <div class="md-form">
                <label for="titleForm">Title</label>
                <input type="text" id="titleForm" name="title" class="form-control">
            </div>
            <div class="md-form mb-4 dark-textarea active-dark-textarea">
                <label for="descriptionForm">Description</label>
                <textarea id="descriptionForm" name="description" class="md-textarea form-control" rows="3"></textarea>
            </div>
            <input id="input-fa" name="image1" type="file">
            <input id="input-fa" name="image2" type="file">
            <input id="input-fa" name="image3" type="file">
            <div class="text-center">
                <input type="submit" class="btn btn-default waves-effect waves-light"></input>
            </div>
        </div>
    </div>
</form>

<% include ../partials/footer.ejs %>